<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEW COMMENT</title>
  </head>
  <body>
    <h1>Add comment</h1>
    <form action="/comments" method="post">
      <label for="username"> ENTER THE USERNAME</label>
      <input type="text" name="username" id="username" placeholder="Username" />
      <br />
      <label for="comment">Enter Your Comment</label>
      <input type="text" name="comment" id="comment" placeholder="comment" />
      <button>Submit</button>
      <a href="/comments">Back To Index</a>
    </form>
  </body>
</html>
